spring-soap-x509-service/DoubleIt.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:tns="http://www.madbit.org/DoubleIt/" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:wsp="http://www.w3.org/ns/ws-policy" 
xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service" xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sc="http://schemas.sun.com/2006/03/wss/server" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy"
name="DoubleIt" 
targetNamespace="http://www.madbit.org/DoubleIt/">
  
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.madbit.org/DoubleIt/">
      <xsd:element name="DoubleItRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="numberToDouble" type="xsd:int" minOccurs="1" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DoubleItResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="doubledNumber" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="DoubleItIn">
    <wsdl:part element="tns:DoubleItRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="DoubleItOut">
    <wsdl:part element="tns:DoubleItResponse" name="parameters"/>
  </wsdl:message>
  
  <wsdl:portType name="DoubleItPortType">
    <wsdl:operation name="doubleIt">
      <wsdl:input message="tns:DoubleItIn"/>
      <wsdl:output message="tns:DoubleItOut"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="DoubleItBinding" type="tns:DoubleItPortType">
  	<wsp:PolicyReference URI="#DoubleItBindingPolicy"/>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="doubleIt">
      <soap:operation soapAction="http://localhost:8080/spring-soap-x509/services/doubleIt"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="DoubleItService">
    <wsdl:port binding="tns:DoubleItBinding" name="DoubleItPort">
      <soap:address location="http://www.madbit.org/"/>
    </wsdl:port>
  </wsdl:service>
  
  <wsp:Policy wsu:Id="DoubleItBindingPolicy">
      <wsp:ExactlyOne>
         <wsp:All>
            <wsam:Addressing wsp:Optional="false"/>
               <!--wsp:Policy/>
            </wsam:Addressing-->
            <sp:AsymmetricBinding>
               <wsp:Policy>
                  <sp:InitiatorToken>
                     <wsp:Policy>
                        <sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                           <wsp:Policy>
                              <sp:WssX509V3Token10/>
                           </wsp:Policy>
                        </sp:X509Token>
                     </wsp:Policy>
                  </sp:InitiatorToken>
                  <sp:RecipientToken>
                     <wsp:Policy>
                        <sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
                           <wsp:Policy>
                              <sp:WssX509V3Token10/>
                              <sp:RequireIssuerSerialReference/>
                           </wsp:Policy>
                        </sp:X509Token>
                     </wsp:Policy>
                  </sp:RecipientToken>
                  <sp:Layout>
                     <wsp:Policy>
                        <sp:Strict/>
                     </wsp:Policy>
                  </sp:Layout>
                  <sp:IncludeTimestamp/>
                  <sp:OnlySignEntireHeadersAndBody/>
                  <sp:AlgorithmSuite>
                     <wsp:Policy>
                        <sp:Basic128/>
                     </wsp:Policy>
                  </sp:AlgorithmSuite>
                  <sp:EncryptSignature/>
               </wsp:Policy>
            </sp:AsymmetricBinding>
            <sp:Wss10>
               <wsp:Policy>
                  <sp:MustSupportRefIssuerSerial/>
               </wsp:Policy>
            </sp:Wss10>
         </wsp:All>
      </wsp:ExactlyOne>
   </wsp:Policy>
   <wsp:Policy wsu:Id="DoubleItBinding_DoubleIt_Input_Policy">
      <wsp:ExactlyOne>
         <wsp:All>
            <sp:EncryptedParts>
               <sp:Body/>
            </sp:EncryptedParts>
            <sp:SignedParts>
               <sp:Body/>
               <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
               <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
               <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
               <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
               <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
               <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
               <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
               <sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
               <sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
               <sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
               <sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
            </sp:SignedParts>
         </wsp:All>
      </wsp:ExactlyOne>
   </wsp:Policy>
   <wsp:Policy wsu:Id="DoubleItBinding_DoubleIt_Output_Policy">
      <wsp:ExactlyOne>
         <wsp:All>
            <sp:EncryptedParts>
               <sp:Body/>
            </sp:EncryptedParts>
            <sp:SignedParts>
               <sp:Body/>
               <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
               <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
               <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
               <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
               <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
               <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
               <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
               <sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
               <sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
               <sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
               <sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
            </sp:SignedParts>
         </wsp:All>
      </wsp:ExactlyOne>
   </wsp:Policy>
</wsdl:definitions>